.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 0 40px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 125px;
  width: 142px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 80px;
}

.nav__links {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  list-style: none;
  column-gap: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  margin: 202px 0 0 80px;
}

.header__description {
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 638px;
  margin: 20px 0 0 80px;
}

.header__footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__hours {
  margin-left: 80px;
}

.header__address {
  margin-right: 80px;
}

.header__footer-text {
  margin: 0;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0 215px 80px;
}

.recipes__title {
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  margin-top: 0;
  margin-bottom: 0;
}

.recipes__subtitle {
  color: #ffffff;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin: 24px 0 0;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 80px;
}

.recipes__iframe {
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservation__form {
  margin: 80px 0 0;
}

.reservation__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 80px 0;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__input {
  border-radius: 4px;
  max-width: 385px;
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
  padding: 0;
  box-sizing: border-box;
}

.form__input::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  border-radius: 4px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #2f80ed;
  max-width: 385px;
  width: 385px;
  height: 60px;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 0.7;
  transition: transform 0.4s ease;
}

.form__label_checkbox {
  display: flex;
  justify-content: center;
}

.form__input_checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__input_checkbox + span {
  background-color: #2f80ed;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
}

.form__input_checkbox:checked + span {
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
